<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include MenuBar/menu.ejs%>
<h1><%= title %></h1>
<h2>Below is our contact detail </h2>
<h3>Email : </h3><%= email %>
<h3>Phone : </h3> <%= phone %>

</body>
</html>
